n8n/Google sheet automation.json
{
  "name": "Google sheet automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1LL3zO8vWVfoS_LHj7-hKkeTg-FcwXclMhT25WveX1pc",
          "mode": "list",
          "cachedResultName": "Customer Order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LL3zO8vWVfoS_LHj7-hKkeTg-FcwXclMhT25WveX1pc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LL3zO8vWVfoS_LHj7-hKkeTg-FcwXclMhT25WveX1pc/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        64
      ],
      "id": "f8f1addf-aeaf-47e5-85f2-49371f34d9fd",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "wjH6arZTwTSkSKNZ",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nishaschoice@gmail.com",
        "subject": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].replace(/```json|```/g, \"\").trim()).EmailSubject }}\n",
        "emailType": "text",
        "message": "={{ JSON.parse($json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"].replace(/```json|```/g, \"\").trim()).EmailBody.replace(/\\\\n/g, \"\\n\") }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        48
      ],
      "id": "23dc735e-8244-4b81-b73c-7b25704a79f5",
      "name": "Send a message",
      "webhookId": "ff643209-a16d-45e5-b53a-3a666445e6d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "veCyKz36AqEwANZA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-1.5-flash:generateContent?key=AIzaSyBY47rYOk31AgNDaWQJkcB3tzAh9t20-Ew",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={\n  \"model\": \"models/gemini-1.5-flash\",\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are in charge of client orders. Your job is to summarize new orders in a structured JSON format for email communication.\\n\\nPlease return a JSON response with two fields:\\n- EmailSubject: a short email subject line\\n- EmailBody: a polite, professional email message for the team\\n\\nHere is the information on the new order:\\nOrder ID:{{ $json['Order ID'] }} \\nCustomer Name: {{$json['Customer Name']}}\\nProduct: {{$json['Product']}}\\nQuantity: {{$json['Quantity']}}\\nPrice: {{$json['Price (₹)']}}\\nOrder Date: {{$json['Order Date']}}\\nStatus: {{$json['Status']}}\\n\\nRespond only with JSON, nothing else.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -32
      ],
      "id": "e7c4228f-f0e7-4c49-afd2-34cf9bc155d4",
      "name": "HTTP Request",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "1kEhrqzvlh0fnkGf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81b28cdc-c609-47e1-aae8-2200d03057d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ccd79262d52482dcf52a723a4c7aff411ad58dbafacf30c8368fe69d7c9ae53"
  },
  "id": "LQZRvW7pHZCF270v",
  "tags": []
}